<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            background-image: url("background3.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
        }

        h1 {
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px blue;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Want to Read List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
        <a class="navbar-brand" style="color: rgb(191, 255, 161)">Want to Read List</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form method="POST" action='/search' class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" name="Search" type="search" placeholder="Search"
                    aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>

    </nav>

    <div class="card" style="width: 20rem; text-align: center; margin-left: auto; margin-right: auto;">

        <% if(wishList.length==0) { %>
            <p style="padding-top: 5;">No books added</p>

            <ul class="list-group">
                <% }else for(x in wishList) { %>
                    <li class="list-group-item"> <a href="<%= wishList[x].path %> ">
                            <%= wishList[x].title %>
                        </a>
                        <button onclick="removeBook('<%= x%>')" type="button" class="btn btn-primary">Remove</button>
                    </li>

                    <% } %>
            </ul>

    </div>

    <% if(wishList.length==0) { %>
        <p style="padding-top: 5;">No books added</p>

        <ul>
            <% }else for(x in wishList) { %>
                <li> <a href="<%= wishList[x].path %> ">
                        <%= wishList[x].title %>
                    </a>
                </li>

                <% } %>
        </ul>

</body>

<script>
    function removeBook(index) {

        var xhr = new XMLHttpRequest();
        xhr.open("POST", '/removebook', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({
            index: index
        }));

        xhr.onload = function () {
            location.reload();
        }
    }
</script>

</html>